* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: whitesmoke;
}
.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Desktop view User information section */
.userTabDetails {
  background-color: hsl(246, 80%, 60%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 25px 0 35px 15px;
  margin-bottom: 60px;
  z-index: 10;
  position: relative;
}
.usercard {
  width: 12%;
  display: flex;
  flex-direction: column;
}
.userProfileImgAvatar {
  width: 50px;
}
.userProfileImg {
  height: 55px;
  width: 54px;
  border-radius: 28px;
  border: 2px solid white;
}
.usereport {
  padding-top: 26px;
  font-size: 0.6rem;
  font-weight: 300;
  color: lightgray;
}
.nameStyle {
  padding-top: 5px;
  padding-bottom: 25px;
  font-size: 25px;
  font-weight: 300;
}
.userCalendar {
  background-color: hsl(235, 46%, 20%);
  width: 12%;
  height: 20%;
  z-index: 0;
  border-radius: 10px;
  padding: 28px 0 8px 15px;
  position: absolute;
  top: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  font-size: 0.75rem;
  font-weight: 400;
  color: slateblue;
}

/* User activities section */
div.firstActiveTimer:nth-child(1) {
  background-color: hsl(15, 100%, 70%);
}
div.firstActiveTimer:nth-child(2) {
  background-color: hsl(195, 74%, 62%);
}
div.firstActiveTimer:nth-child(3) {
  background-color: hsl(348, 100%, 68%);
}
div.firstActiveTimer:nth-child(4) {
  background-color: hsl(145, 58%, 55%);
}
div.firstActiveTimer:nth-child(5) {
  background-color: hsl(264, 64%, 52%);
}
div.firstActiveTimer:nth-child(6) {
  background-color: hsl(43, 84%, 65%);
}
.userTimerList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 40px 180px 0 2px;
}
.userTimerListBack {
  display: flex;
  justify-content: right;
  padding-right: 8px;
  z-index: 0;
}
.backgroundIcon {
  height: 50px;
  width: 50px;
}
.firstActiveTimer {
  border-radius: 13px;
  margin: 10px;
}
.userTimerListDetails {
  background-color: hsl(235, 46%, 20%);
  border-radius: 13px;
  height: 135px;
  position: relative;
  top: -23px;
  margin-bottom: -25px;
}
.userTimerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 13px;
  font-weight: 400;
}
.userTimer {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.bigLetter {
  font-size: 35px;
  font-weight: 300;
  padding: 0 0 2px 20px;
}

.smallLetter {
  font-size: 0.6rem;
  font-weight: 500;
  color: rgb(182, 172, 245);
  padding: 0 0 0 20px;
}

/* Mobile view */

@media screen and (max-width: 768px) {
  .homepage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    gap: 60px;
  }
  .usercard {
    width: 52%;
    height: 11%;
    display: flex;
    flex-direction: column;
  }
  .userTabDetails {
    background-color: hsl(246, 80%, 60%);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0;
    margin-top: 12px;
    z-index: 10;
    position: relative;
    gap: 8px;
  }
  .nameStyle {
    padding-top: 2px;
    padding-bottom: 25px;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .userProfileImgAvatar {
    width: 30px;
  }
  .userProfileImg {
    height: 35px;
    width: 34px;
    border-radius: 28px;
    border: 2px solid white;
  }
  .usereport {
    padding-top: 26px;
    font-size: 0.5rem;
    font-weight: 300;
    color: lightgray;
  }

  .userCalendar {
    background-color: hsl(235, 46%, 20%);
    width: 52%;
    height: 9%;
    z-index: 0;
    border-radius: 10px;
    padding: 10px 16px 0 16px;
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    font-size: 0.54rem;
    font-weight: 400;
    color: slateblue;
  }
  .userTimerList {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 12px 0 2px;
    gap: 12px;
  }
  .firstActiveTimer {
    border-radius: 13px;
    margin: 0px;
  }
  .userTimerListDetails {
    background-color: hsl(235, 46%, 20%);
    border-radius: 13px;
    height: 65px;
    position: relative;
    top: -14;
    margin-bottom: -25px;
  }

  .userTimerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-size: 10px;
    font-weight: 400;
    padding: 15px 15px 5px 15px;
  }
  .userTimer {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 19px;
    padding: 0px 17px 0px 15px;
  }
  .bigLetter {
    font-size: 16px;
    font-weight: 300;
    padding: 0;
  }

  .smallLetter {
    font-size: 0.5rem;
    font-weight: 500;
    color: rgb(182, 172, 245);
    padding: 0;
  }
  div.firstActiveTimer:nth-child(6) {
    margin-bottom: 12px;
  }
}

/* 
.homepage {
  height: inherit;
  width: 100%;
}
.userProfileImg {
  height: 43px;
  width: 43px;
  border-radius: 23px;
  border: 2px solid white;
}
.flex-gap {
  gap: 10px;
}
.flex {
  display: flex;
}
.align-item {
  align-items: center;
}
.justify-content {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
/* } */

/* User tab styles 

.usertabdetails {
  width: 100%;
  height: inherit;
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  position: relative;
  z-index: 50;
}
.usereport {
  font-size: 0.7rem;
  font-weight: 300;
  color: lightgray;
}
.userId {
  gap: 5px;
  font-weight: 300;
  font-size: 18px;
}
.userdetails {
  flex-direction: column;
}
.usercard {
  width: 220px;
  height: 100px;
  position: relative;
}
.b-color,
.userTimerListDetails {
  background-color: hsl(235, 46%, 20%);
}
.usercalendar {
  width: 100%;
  height: 65px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 84px;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 300;
  padding: 10px 18px 0 25px;
}

/* Timers grid styles */
/*
.activitiesGrid {
  position: relative;
  top: 65px;
}

.firstActiveTimer {
  width: 220px;
  height: 80px;
  border-radius: 10px;
  position: relative;
  z-index: -40;
  margin-bottom: 40px;
}

.userTimerListBack {
  height: 24px;
  z-index: -4;
  position: relative;
  right: 0;
  left: 78%;
  top: 0px;
}
.userTimerListBackImg {
  width: 40px;
}
.userTimerListDetails {
  border-radius: 10px;
  position: relative;
  width: 221px;
  height: 81px;
  display: flex;
  justify-content: center;
  padding: 0 15px 0 15px;
}
.userTimer {
  justify-content: space-between;
}
.userTimerTitle {
  justify-content: space-between;
  font-size: 0.6rem;
  font-weight: 300;
  padding-bottom: 5px;
}
.bigText {
  font-size: 18px;
  font-weight: 300;
}
.smallText {
  font-size: 0.6rem;
  font-weight: 300;
}
.homepage {
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0 25px 0;
}
div.firstActiveTimer:nth-child(1) {
  background-color: hsl(15, 100%, 70%);
}
div.firstActiveTimer:nth-child(2) {
  background-color: hsl(195, 74%, 62%);
}
div.firstActiveTimer:nth-child(3) {
  background-color: hsl(348, 100%, 68%);
}
div.firstActiveTimer:nth-child(4) {
  background-color: hsl(145, 58%, 55%);
}
div.firstActiveTimer:nth-child(5) {
  background-color: hsl(264, 64%, 52%);
}
div.firstActiveTimer:nth-child(6) {
  background-color: hsl(43, 84%, 65%);
}

@media screen and (min-width: 768px) {
  .homepage {
    height: 100vh;
    flex-direction: row;
    gap: 20px;
  }

  /* User grid styles 

  .usercard {
    height: 242px;
    width: 180px;
  }
  .usertabdetails {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 30px 19px;
  }
  .usereport {
    margin-bottom: 2px;
    font-size: 10px;
    color: lightgray;
  }
  .nameStyle {
    flex-direction: column;
    font-size: 28px;
  }
  .userProfileImg {
    height: 53px;
    width: 53px;
    border-radius: 27px;
    border: 2px solid white;
    margin-bottom: 15px;
  }
  .profilPic {
    height: 50px;
  }
  .usercalendar {
    height: 100px;
    flex-direction: column;
    /* position:unset; 
    align-items: start;
    justify-content: center;
    top: 227px;
    gap: 8px;
    font-weight: 400;
  }

  /* Timers grids styles 

  .userTimerList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 35px;
  }
  .firstActiveTimer {
    width: 170px;
    margin-bottom: 75px;
  }
  .userTimerListBack {
    height: 24px;
    left: 60%;
  }
  .userTimerListBackImg {
    width: 55px;
  }
  .userTimerListDetails {
    border-radius: 10px;
    position: relative;
    top: 11px;
    width: 171px;
    height: 115px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }
  .usercalendar p:hover {
    cursor: pointer;
    color: slateblue;
  }
  .userTimerTitle {
    justify-content: ccenter;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
  }
  .userTimer {
    flex-direction: column;
    padding-bottom: 15px;
  }
  .bigText {
    font-size: 40px;
    font-weight: 300;
    padding-top: 9px;
  }
  .smallText {
    font-size: 0.6rem;
    font-weight: 400;
    color: slateblue;
  }
}*/
